
/******************

Header
********************/

header {
	border-bottom: solid 1px;
}
#logonav {

	max-width: 250px;
	height: auto;
	margin-left: 80px;
	padding-top: 5px;

}



#headernav {
	display: -webkit-flex;
     -webkit-flex-direction: row;
     -webkit-justify-content: space-between;
     -webkit-flex-wrap: wrap;
     -webkit-align-items: center;
     min-height: 70px;
     max-height: 600px;
	 max-width: 100%;
}

#headernav li:first-child {
	margin-right: auto;
}	

.headernavli {
	font-size: 1.5em;
	padding: 0 90px 0 25px;
}

a {
text-decoration: none;
color: black;
font-family: 'Josefin Sans', sans-serif;

}


li {
list-style-type: none;
}

/******************

Main
********************/

main {
	display: block;
	min-height: 500px;
	height: auto;
	width: 100%;
}

.topcontentcontainer {
	height: 75vh;
	margin: 0 auto;
	max-width: 100%;
	
}

h1 {
	text-align: center;
	font-family: Garamond, Georgia, serif;
	font-weight: 600;
	font-size: 1.5em;
	letter-spacing: .1em;
}

p {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	max-width: 80%;
	margin: 0 auto;
	letter-spacing: .09em;

}

/******************

Footer
********************/

footer {
	border-top: solid 1px;
}

#footernav {
	display: flex;
     -webkit-flex-direction: column;
     -webkit-justify-content: center;
     -webkit-flex-wrap: wrap;
     align-items: flex-start;;
     margin: 20px 0 10px 10%;
     }

 #footernav a {
 	font-size: .8em;
 }

.socialicons {
	display: flex;
     -webkit-flex-direction: row;
     -webkit-justify-content: flex-end;
     -webkit-flex-wrap: wrap;
     align-items: flex-start;
     margin-right: 10%;

     }

.footericon {
	max-width: 25px;
	height: auto;
	padding: 0 3px 0 5px;
}

#copywrite {
	text-align: center;
	margin-bottom: 8px;
	font-size: .8em;
}

#footercontainer {
	display: block;
	clear: both;
}
/****************************
Index
****************************/



#mainlanding {
	background: url(images/piano.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	}

/****************************
About
****************************/
/****************************
Repertoire
****************************/
	#reptop {
		background: url(images/bass.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding: 20px 0 50px 0;
		height: 50vh;
	}

	#reptop p, #reptop h1 {
		color: white;
		font-family: 'Josefin Sans';
	}

	 #reptop h1 {
	 	padding-top: 50px;
	 }


	#songcontainer {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		-webkit-column-gap: 2em;
		-moz-column-gap: 2em;
		-webkit-column-width: 200px;
		-moz-column-width: 200px;
		font-family: 'Josefin Sans', sans-serif;
		margin: 30px auto 0px auto;
		width: 80%;
	}

	#songcontainer li {
		line-height: 1.3em;
	}

	#songcontainer h2 {
		-webkit-column-span: all;
		-moz-column-span: all;
		text-align: center;
	}
	#pushfooter {
		min-height: 400px;
	}
/****************************
Tablet
****************************/

@media only screen and (max-width:800px) {
	#logonav {
		margin-left: 33%;
		margin-bottom: -20px;


}

/****************************
Cell
****************************/

@media only screen and (max-width:425px) {
	#headernav {
				display: -webkit-flex;
			     -webkit-flex-direction: column;
			     -webkit-justify-content: space-between;
			     -webkit-flex-wrap: wrap;
			     margin-top: -10px;
			     margin-bottom: 10px;
			}

	.headernavli {
				
				padding: 10px 25px 5px 25px;

			}

	#logonav {
		margin-left: 19vw;
		margin-bottom: -20px;

	}



	#footernav li {
	margin-left: 35%;
     }
	
	.socialicons {
		-webkit-justify-content: center;
		margin-bottom: 10px;
		margin-right: 0;
	}

}




