
/******************

Header
********************/

#logonav {

	max-width: 250px;
	height: auto;
	margin-left: 45px;
	padding-top: 10px;

}



#headernav {
	display: -webkit-flex;
     -webkit-flex-direction: row;
     -webkit-justify-content: space-between;
     -webkit-flex-wrap: wrap;
     -webkit-align-items: center;
     min-height: 70px;
     max-height: 600px;
	 max-width: 100%;
}

#headernav li:first-child {
	margin-right: auto;
}	

.headernavli {
	font-size: 1.5em;
	padding: 0 40px 0 25px;
}

a {
text-decoration: none;
color: black;
font-family: 'Josefin Sans', sans-serif;

}


li {
list-style-type: none;
}

/******************

Main
********************/

main {
	display: block;
	min-height: 500px;
	height: auto;
	width: 100%;
}

.topcontentcontainer {
	height: 100vh;
	margin: 0 auto;
	max-width: 85%;
}

h1 {
	text-align: center;
	font-family: Garamond, Georgia, serif;
	font-weight: 600;
	font-size: 1.5em;
	letter-spacing: .1em;
}

p {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	max-width: 80%;
	margin: 0 auto;
	letter-spacing: .09em;

}

/******************

Footer
********************/

footer {
	margin-top: 20px;
}

#footernav {
	display: flex;
     -webkit-flex-direction: column;
     -webkit-justify-content: center;
     -webkit-flex-wrap: wrap;
     align-items: flex-start;;
     margin: 20px 0 10px 10%;
     }

 #footernav a {
 	font-size: .8em;
 }

.socialicons {
	display: flex;
     -webkit-flex-direction: row;
     -webkit-justify-content: flex-end;
     -webkit-flex-wrap: wrap;
     align-items: flex-start;
     margin-right: 10%;

     }

.footericon {
	max-width: 25px;
	height: auto;
	padding: 0 3px 0 5px;
}

#copywrite {
	text-align: center;
	margin-bottom: 8px;
	font-size: .8em;
}

/****************************
Index
****************************/



#mainlanding {
	background: url(images/piano.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	}

/****************************
About
****************************/
/****************************
Repertoire
****************************/
/****************************
Tablet
****************************/

@media only screen and (max-width:800px) {
	#logonav {
		margin-left: 33%;
		margin-bottom: -20px;


}

/****************************
Cell
****************************/

@media only screen and (max-width:425px) {
	#headernav {
				display: -webkit-flex;
			     -webkit-flex-direction: column;
			     -webkit-justify-content: space-between;
			     -webkit-flex-wrap: wrap;
			     margin-top: -15px;
			     margin-bottom: 10px;
			}

	.headernavli {
				
				padding: 0 25px 5px 25px;

			}

	#logonav {
		margin-left: 20vw;
		margin-bottom: -20px;

	}



	#footernav li {
	margin-left: 35%;
     }
	
	.socialicons {
		-webkit-justify-content: center;
		margin-bottom: 10px;
		margin-right: 0;
	}

}




